[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"boto3" = "*"
click = "*"
pylint = "*"

[dev-packages]
ipython = "*"
pylint = "*"
"autopep8" = "*"
setuptools = "*"

[requires]
python_version = "3.7"
